<div class="container">
  <div class="row ">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <div class="row">
        <div class="col s12 m6 l6 left-align">
          <h3>Welcome - first name goes here</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 genre-box">
          <div class="row">
            <div class="col s12 m10 l10 post-box">
              <p>
                make you post stuff here nerd
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
